<div class="main-container">
    <!--<select  ng-model="home.fromTo">-->
        <!--<option value="to" name="To" id="to">To</option>-->
        <!--<option value="from" name="From" id="from">From</option>-->

    <!--</select>-->
    <!--<select ng-options="city.state for city in home.drop" ng-model="home.selected"></select>-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 radio">
                <label for="from" class="cursor"><input type="radio" name="from" id="from" ng-model="home.fromTo" value="from" class="cursor"/>From</label></br>
                <label for="to" class="cursor"><input type="radio" name="to" id="to" ng-model="home.fromTo" value="to" class="cursor"/>To</label>
            </div>
        </div>
    </div>

        <div id="chartdiv"></div>



</div>


