/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$primary-color: #008580;
$secondary-color: white;
$tertiary-color: rgb(187, 222, 250);

$dummy-background: rgb(223, 225, 224);

$rank-widget-background: #f9f9f9;
$rank-widget-border: #EBEBEB;
$rank-display-text-color: #17963b;
$rank-widget-background2: #444851;

$button-border: #ccc;

$primary-font-color: black;
$secondary-font-color: white;
$tertiary-font-color: #333;
$fourth-font-color: rgb(115, 170, 235);
$fifth-font-color: #959595;
$sixth-font-color: #7A7A7A;

$primary-button-color: #959595;
$secondary-button-color: #ec8445;
$tertiary-button-color: rgb(226, 222, 223);

$chart-background-color-1: #fff;
$chart-background-color-2: #f3f8fe;
$chart-background-color-3: #fff;
$chart-background-color-4: #394048;

$chart-axis-color: #CACACA;

$chart-color-1: #73AAEA;
$chart-color-2: #D3E223;
$chart-color-3: #A668B5;
$chart-color-4: #96D8D4;
$chart-color-5: #3d3d3d;

$primary-hover: #005f5b;

/* ----- Typography ----- */
$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, Arial !default;
