body {
    position: relative;
    width: 100%;
}

div#body-content {
    display: none;
}

div.notification-row {
    display: block;
    position: absolute;
    margin: 2% auto;
    left: 30px;
    right: 30px;
}

div.notification-row h3 {
    fonts-size: 21px;
    margin-bottom: 30px;
}

div.notification-row div {
    display: inline-block;
    margin: 20px 100px 0 100px;
}

div.notification-row div a {
    display: block;
    margin-bottom: 5px;
    color: #1A9997;
    text-align: center;
}

div.notification-row div a img {
    border: 0;
}